<?xml version="1.0"?>
<config>
	<modules>
		<Wdg_LeadDyno>
			<version>1.0.0.0</version>
		</Wdg_LeadDyno>
	</modules>
	<global>
		<helpers>
			<leaddyno>
				<class>Wdg_LeadDyno_Helper</class>
			</leaddyno>
		</helpers>
		<models>
			<leaddyno>
				<class>Wdg_LeadDyno_Model</class>
			</leaddyno>
		</models>
		<blocks>
			<leaddyno>
				<class>Wdg_LeadDyno_Block</class>
			</leaddyno>
		</blocks>
		<events>
			<sales_order_payment_place_end>
				<observers>
					<leaddyno_sales_order_payment_place_end>
						<class>leaddyno/observer</class>
						<method>salesOrderPaymentPlaceEnd</method>
					</leaddyno_sales_order_payment_place_end>
				</observers>
			</sales_order_payment_place_end>
			<sales_order_payment_refund>
				<observers>
					<leaddyno_sales_order_payment_refund>
						<class>leaddyno/observer</class>
						<method>salesOrderPaymentRefund</method>
					</leaddyno_sales_order_payment_refund>
				</observers>
			</sales_order_payment_refund>
		</events>
	</global>
	<frontend>
		<routers>
			<leaddyno>
				<use>standard</use>
				<args>
					<module>Wdg_LeadDyno</module>
					<frontName>leaddyno</frontName>
				</args>
			</leaddyno>
		</routers>
		<layout>
			<updates>
				<leaddyno>
					<file>leaddyno.xml</file>
				</leaddyno>
			</updates>
		</layout>
	</frontend>
</config>